<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!-- <script src="Ludo-game.js"></script> -->
</head>
<body>
  <div class="body1">
    <div id="main" class="main">
      <div id="board" class="board"></div>

      <div id="dice" (click)="randomNum()" class="dice1"></div>
      <!-- red pawns  start top 28 left 318-->
      <div class="pawns" id="redpawn1"    (click)="randomMove('red',1)"       style="background-color:red;top:149px;left:442px;"></div>
      <div class="pawns" id="redpawn2"    (click)="randomMove('red',2)"       style="background-color:red;top:102px;left:395px;"></div>
      <div class="pawns" id="redpawn3"    (click)="randomMove('red',3)"       style="background-color:red;top:55px;left:442px;"></div>
      <div class="pawns" id="redpawn4"    (click)="randomMove('red',4)"       style="background-color:red;top:102px;left:490px;"></div>

      <!-- yellow pawns  start top 523 left 218-->
      <div class="pawns" id="yellowpawn1" (click)="randomMove('yellow',1)"    style="background-color:yellow;top:451px;left:47px;"></div>
      <div class="pawns" id="yellowpawn2" (click)="randomMove('yellow',2)"    style="background-color:yellow;top:451px;left:140px;"></div>
      <div class="pawns" id="yellowpawn3" (click)="randomMove('yellow',3)"    style="background-color:yellow;top:404px;left:93px;"></div>
      <div class="pawns" id="yellowpawn4" (click)="randomMove('yellow',4)"    style="background-color:yellow;top:498px;left:93px;"></div>

      <!-- green pawns  start top 227 left 22-->
      <div class="pawns" id="greenpawn1"  (click)="randomMove('green',1)"     style="background-color:green;top:149px;left:93px;"></div>
      <div class="pawns" id="greenpawn2"  (click)="randomMove('green',2)"     style="background-color:green;top:102px;left:140px;"></div>
      <div class="pawns" id="greenpawn3"  (click)="randomMove('green',3)"     style="background-color:green;top:55px;left:93px;"></div>
      <div class="pawns" id="greenpawn4"  (click)="randomMove('green',4)"     style="background-color:green;top:102px;left:47px;"></div>

      <!-- blue pawns  start top 326 left 515-->
      <div class="pawns" id="bluepawn1"   (click)="randomMove('blue',1)"      style="background-color:blue;top:451px;left:490px;"></div>
      <div class="pawns" id="bluepawn2"   (click)="randomMove('blue',2)"      style="background-color:blue;top:451px;left:395px;"></div>
      <div class="pawns" id="bluepawn3"   (click)="randomMove('blue',3)"      style="background-color:blue;top:404px;left:442px;"></div>
      <div class="pawns" id="bluepawn4"   (click)="randomMove('blue',4)"      style="background-color:blue;top:498px;left:442px;"></div>


      <h4 id="uselesstext1" class="uselesstext1">It`s </h4>
      <h3 id="player" style="float:left; color:red">red</h3>
      <h4 id="uselesstext2">'s turn</h4>
      <p id="badtext" style="float:left;"></p>
      </div>
  </div>

</body>
</html>
